@charset "utf-8";
/* CSS Document */

.hiddenMemo{
	width:100px;    		/*设置隐藏显示的最大宽度*/
  	white-space:nowrap;  	/* 设置文字在一行显示，不能换行 */  
  	overflow: hidden;    	/* 文字长度超出限定宽度，则隐藏超出的内容 */
  	text-overflow: ellipsis;	/* 规定当文本溢出时，显示省略符号来代表被省略的文本 */
}
/*多行隐藏显示的样式设定*/
.hiddenMemo {      
	width:50px;					/*设置隐藏显示的最大宽度*/
  	overflow: hidden;			/* 文字长度超出限定宽度，则隐藏超出的内容 */
  	text-overflow: ellipsis;
  	display: -webkit-box;     	/* 将对象作为弹性伸缩盒子模型显示 */      
  	-webkit-line-clamp: 2;    	/* 控制最多显示几行，这里采用最多显示两行 */      
  	-webkit-box-orient: vertical; /* 设置或检索伸缩盒对象的子元素的排列方式 */    
}
